$hero-bg-color: #a7cfdd;
$projects-bg-color: #e3e8eb;
$flex-grow-no: 75;

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

.header {
  position: absolute;
  display: flex;
  padding: 4rem;
  width: 100%;
  justify-content: space-between;

  &-logo {
    // might need
  }

  &-links {
    position: relative;

  }
}

.hero {
  height: 100vh;
  background-color: $hero-bg-color;
}

li {
  display: inline-block;
  list-style: none;
}

.header-links ul > li:not(:last-child) {
  margin-right: 5rem;
}

.projects {
  background-color: $projects-bg-color;
  height: 100%;
  padding-top: 8rem;
  padding-bottom: 7rem;

  &__heading {
    font-size: 3rem;
    padding: 0 8rem;
    margin-bottom: 3rem;
  }

  &__wrapper {

  }

  &__flex {
    display: flex;
    //flex-wrap: wrap;
    padding-left: 0;
  }

  &__li {
    height: 78vh;
    filter: grayscale(100%);
    transition: all .5s ease-in-out .25s;

    &:hover {
      filter: grayscale(0%);
    }
  }

  &__img {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    outline: $projects-bg-color solid 4px;
  }
}

#projects {
  &-li {
    &0 {
      flex: 11;
      &:hover {
        flex: $flex-grow-no;
      }
    }

    &1 {
      flex: 8;
      &:hover {
        flex: $flex-grow-no;
      }
    }

    &2 {
      flex: 6;
      &:hover {
        flex: $flex-grow-no;
      }
    }

    &3 {
      flex: 4;
      &:hover {
        flex: $flex-grow-no;
      }
    }

    &4 {
      flex: 2;
      &:hover {
        flex: $flex-grow-no;
      }
    }
  }

  &-img0 {
    background-image: url(./assets/flashcard-app.png);
  }

  &-img1 {
    background-image: url(./assets/tribute-page.png);
  }

  &-img2 {
    background-image: url(./assets/twitch-tv.png);
  }

  &-img3 {
    background-image: url(./assets/react-wikipedia.png);
  }

  &-img4 {
    background-image: url(./assets/react-quote-machine.png);
  }
}

.about {

  &__heading {
    font-size: 3rem;
    margin: 3rem 0;
  }
}
