// we're using blue-green #0392CE, blue-violet #3D01A4, orange #FB9902
$body-bg-color: #0D488A;
$body-color: #151515; // #151515, rgb(21, 21, 21) black
// hero section
$hero-bg-color: #607D8B;
// skills section
$skills-bg-color: #eaeaea; // #eaeaea, rgb(234, 234, 234) white
// projects section
$flex-grow-no: 75;
$projects-bg-color: #3D01A4;
// about section
$about-bg-color: #FB9902;
$about-color: #000;
// about section - ribbon color
$ribbon-bg-color: #3498db;
$ribbon-wrap-bg: #2980b9;

html {
  font-size: 62.5%;
}

body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
  font-size: 1.6rem;
  background-color: $body-bg-color;
  color: $body-color;
}

// header with navbar
.header {
  position: absolute;
  display: flex;
  padding: 4rem;
  width: 100%;
  justify-content: space-between;

  &__logo {
    width: 40px;
    height: 40px;
  }

  &__links {
    position: relative;

    ul > li {
      font-size: 2rem;

      a {
        color: $skills-bg-color;
      }
    }

    ul > li:not(:last-child) {
      margin-right: 5rem;
    }
  }
}

// hero section
#hero {
  height: 100vh;
  //background-color: $hero-bg-color;
  background-image: url("./assets/triple-Os.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.hero {
  &__container {
    padding-top: 15rem;
  }

  &__introduction {

  }
}

.typewriter > p {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation:
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}

li {
  display: inline-block;
  list-style: none;
}

// projects section
#projects {
  //background-color: $projects-bg-color;
  color: $skills-bg-color;
  height: 100%;
  padding-top: 7rem;
  padding-bottom: 9rem;

  &-li {
    &0 {
      flex: 11;
      &:hover {
        flex: $flex-grow-no;
      }
    }

    &1 {
      flex: 8;
      &:hover {
        flex: $flex-grow-no;
      }
    }

    &2 {
      flex: 6;
      &:hover {
        flex: $flex-grow-no;
      }
    }

    &3 {
      flex: 4;
      &:hover {
        flex: $flex-grow-no;
      }
    }

    &4 {
      flex: 2;
      &:hover {
        flex: $flex-grow-no;
      }
    }
  }

  &-img0 {
    background-image: url(./assets/flashcard-app.png);
  }

  &-img1 {
    background-image: url(./assets/tribute-page.png);
  }

  &-img2 {
    background-image: url(./assets/twitch-tv.png);
  }

  &-img3 {
    background-image: url(./assets/react-wikipedia.png);
  }

  &-img4 {
    background-image: url(./assets/react-quote-machine.png);
  }
}

.projects {
  &__heading {
    font-size: 3rem;
    padding: 0 4rem;
    margin-bottom: 3rem;

    &::after {
      display: block;
      content: "";
      width: 68px;
      height: 8px;
      background-color: $about-bg-color;
      margin-top: 7px;
      margin-left: -33px;
    }
  }

  &__wrapper {

  }

  &__flex {
    display: flex;
    //flex-wrap: wrap;
    padding-left: 0;
  }

  &__li {
    height: 78vh;
    filter: grayscale(100%);
    transition: all .5s ease-in-out .25s;

    &:hover {
      filter: grayscale(0%);
    }
  }

  &__img {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    outline: $body-bg-color solid 4px;
  }
}

// skills sections
#skills {
  background-color: $skills-bg-color;
  color: $body-color;
  padding: 5rem;
}

.skills {
  &__heading {
    font-size: 3rem;
    margin-bottom: 3rem;
  }

  &__ul {
    //padding-left: 0;

    > li {
      text-align: center;
      margin-bottom: 3rem;

      &:last-child > img {
        width: 100px;
      }

      &:not(:last-child) {
        margin-right: 3rem;
      }

      &:not(:last-child) > img {
        width: 100px;
        height: 100px;
      }
    }
  }
}

// about section
#about {
  //background-color: $about-bg-color;
  color: $body-color;
  padding: 12rem;
}

.about {
  &__img {
    //max-width: 100%;
    //width: 250px;
    //width 300px height 252.6px
    //max-height: auto;
    height: 210.5px;
    border-radius: 10px;
  }
}

.footer {
  &__hr {
    width: 90%;
    order: 1;
  }

  &__flex {
    display: flex;
    justify-content: center;
    width: 100%;
    order: 2;
  }
}

.social-media__ul {
  text-align: center;
  padding-left: 0;

  > li {
    width: 38px;
    height: 38px;

    &:not(:last-child) {
      margin-right: 5rem;
    }
  }
}
