$hero-bg-color: #a7cfdd;
$projects-bg-color: #e3e8eb;
$flex-grow-no: 75;
$about-bg-color: #ecce4f;
$ribbon-bg-color: #3498db;
$ribbon-wrap-bg: #2980b9;

html {
  font-size: 62.5%;
}

body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
  font-size: 1.6rem;
}

.header {
  position: absolute;
  display: flex;
  padding: 4rem;
  width: 100%;
  justify-content: space-between;

  &-logo {
    // might need
  }

  &-links {
    position: relative;

  }
}

.hero {
  height: 100vh;
  background-color: $hero-bg-color;
}

li {
  display: inline-block;
  list-style: none;
}

.header-links ul > li:not(:last-child) {
  margin-right: 5rem;
}

.projects {
  background-color: $projects-bg-color;
  height: 100%;
  padding-top: 7rem;
  padding-bottom: 9rem;

  &__heading {
    font-size: 3rem;
    padding: 0 4rem;
    margin-bottom: 3rem;

    &::after {
      display: block;
      content: "";
      width: 68px;
      height: 8px;
      background-color: $about-bg-color;
      margin-top: 7px;
      margin-left: -33px;
    }
  }

  &__wrapper {

  }

  &__flex {
    display: flex;
    //flex-wrap: wrap;
    padding-left: 0;
  }

  &__li {
    height: 78vh;
    filter: grayscale(100%);
    transition: all .5s ease-in-out .25s;

    &:hover {
      filter: grayscale(0%);
    }
  }

  &__img {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    outline: $projects-bg-color solid 4px;
  }
}

#projects {
  &-li {
    &0 {
      flex: 11;
      &:hover {
        flex: $flex-grow-no;
      }
    }

    &1 {
      flex: 8;
      &:hover {
        flex: $flex-grow-no;
      }
    }

    &2 {
      flex: 6;
      &:hover {
        flex: $flex-grow-no;
      }
    }

    &3 {
      flex: 4;
      &:hover {
        flex: $flex-grow-no;
      }
    }

    &4 {
      flex: 2;
      &:hover {
        flex: $flex-grow-no;
      }
    }
  }

  &-img0 {
    background-image: url(./assets/flashcard-app.png);
  }

  &-img1 {
    background-image: url(./assets/tribute-page.png);
  }

  &-img2 {
    background-image: url(./assets/twitch-tv.png);
  }

  &-img3 {
    background-image: url(./assets/react-wikipedia.png);
  }

  &-img4 {
    background-image: url(./assets/react-quote-machine.png);
  }
}

.about {
  background-color: $about-bg-color;
  padding: 12rem;

  &__heading {
    font-size: 3rem;
    margin-bottom: 2rem;
  }

  &__container {
    // margin-top: 4rem;
    position: relative;
    padding: 9rem;
    background-color: white;
    width: 70%;
  }
}

.footer__hr {
  margin-top: 0;
}

.social-media__ul {
  text-align: center;
  padding-left: 0;

  & > li {
    width: 38px;
    height: 38px;

    &:not(:last-child) {
      margin-right: 5rem;
    }
  }
}

.ribbon {
  width: 150px;
  height: 150px;
  overflow: hidden;
  position: absolute;

  /* ::before and ::after border color transparent doesn't work */

  &--top--left {
    top: -10px;
    left: -10px;

    div {
      left: -50px;
      top: 30px;
      transform: rotate(-45deg);
    }
    &::before, &::after {
      border-top-color: transparent;
      border-left-color: transparent;
    }
    &::before {
      top: 0;
      right: 0;
    }
    &::after {
      bottom: 0;
      left: 0;
    }
  }

  &--top--right {
    top: -10px;
    right: -10px;

    div {
      right: -50px;
      top: 30px;
      transform: rotate(45deg);
    }
    &::before, &::after {
      border-top-color: transparent;
      border-right-color: transparent;
    }
    &::before {
      top: 0;
      left: 0;
    }
    &::after {
      bottom: 0;
      right: 0;
    }
  }

  &--btm--left {
    bottom: -10px;
    left: -10px;

    div {
      left: -56px;
      top: 65px; //65-67
      transform: rotate(225deg);
    }
    &::before, &::after {
      border-bottom-color: transparent;
      border-left-color: transparent;
    }
    &::before {
      bottom: 0;
      right: 0;
    }
    &::after {
      top: 0;
      left: 0;
    }
  }

  &--btm--right {
    bottom: -10px;
    right: -10px;

    div {
      right: -56px;
      top: 65px; //65-67
      transform: rotate(135deg);
    }
    &::before, &::after {
      border-bottom-color: transparent;
      border-right-color: transparent;
    }
    &::before {
      top: 0;
      right: 0;
    }
    &::after {
      bottom: 0;
      left: 0;
    }
  }

  > div {
    position: absolute;
    width: 225px;
    height: 32%;
    background-color: $ribbon-bg-color;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    z-index: 1;
    // below styling for text
    color: white;
    text-align: center;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    padding: 11px 0;
  }

  &::before, &::after {
    position: absolute;
    z-index: 0;
    content: "";
    //display: block;
    border: 5px solid $ribbon-wrap-bg;
  }
}

.skills {
  padding: 5rem;

  &__heading {
    font-size: 3rem;
    margin-bottom: 3rem;
  }

  &__ul {
    //padding-left: 0;

    & li {
      text-align: center;

      &:last-child > img {
        width: 100px;
      }

      &:not(:last-child) {
        margin-right: 3rem;
      }

      &:not(:last-child) > img {
        width: 100px;
        height: 100px;
      }

      & > div {
        margin-bottom: 3rem;
      }
    }
  }
}
