@import "./mixin.scss";
@import "./variable.scss";

// projects section
#projects-img {
  /*
  &0 {
    @include aboveLaptopL {
      background-image: url(./assets/flashcard-app.webp), url(./assets/flashcard-app.jpg);
    }
  }

  &1 {
    @include belowLaptopL {
      background-image: url(./assets/tribute-page-1400.webp);
    }

    @include aboveLaptopL {
      background-image: url(./assets/tribute-page.webp), url(./assets/tribute-page.png);
    }
  }

  &2 {
    background-image: url(./assets/twitch-tv.png);

    @include mobileL-Tablet { // below 540px
      background-image: url(./assets/twitch-tv-573.png);
    }
  }

  &3 {
    background-image: url(./assets/react-wikipedia.png);

    @include belowMobileL { // below 460px
      background-image: url(./assets/react-wikipedia-449.png);
    }
  }

  &4 {
    background-image: url(./assets/react-quote-machine.png);
  }
  */
}

.projects {
  &__heading {
    color: #fff;
    font: 3rem 'Sahitya', serif;
    padding: 1.5rem 14rem;
    margin: 0;
    background-color: $blue-circle;

    @include belowLaptop {
      padding: 1.5rem 8rem;
    }

    @include belowTablet {
      padding: 1.5rem 5rem;
    }

    @include mobileL-Tablet {
      padding: 1.5rem 4rem;
    }

    @include mobileS {
      padding: 1.5rem 3rem;
    }
  }

  &__flexbox {
    display: flex;
    align-items: center;
    padding-left: 0;
    margin-bottom: 0;
    position: relative;

    @include belowTablet {
      display: block;
      cursor: pointer;
    }
  }

  &__li {
    position: relative;
    display: inline-block;
    list-style: none;
    height: 70vh;
    transition: all .5s ease-in-out .25s;
    cursor: pointer;

    @include belowTablet {
      display: block;
      height: 30vh;
      transition: all .4s cubic-bezier(1, 0, 1, 1.01);
    }

    &0 {
      flex: 11;
    }

    &1 {
      flex: 8;
    }

    &2 {
      flex: 6;
    }

    &3 {
      flex: 4;
    }

    &4 {
      flex: 2;
    }
  }

  &__flex {
    //filter: grayscale(100%);
    border-right: $projects-bg-color solid 4px;

    @include belowTablet {
      filter: none;
      //border-right: none;
      //border-bottom: $projects-bg-color solid 4px;
    }

    &:hover {
      flex: $flex-grow-no;
      //filter: grayscale(0%);
    }
  }

  &__img {
    //background-size: cover;
    //background-position: center;
    //background-repeat: no-repeat;
    width: 100%;
    height: 100%;
  }

  &__hr {
    margin-bottom: 2rem;
  }

  &__url {
    text-align: center;
  }

  &__links {
    :first-of-type {
      margin-right: 1rem;
    }

    > svg {
      fill: black;
      width: 34px;
      height: 34px;

      &:hover {
        fill: $yellow-circle;
      }
    }

    &:hover {
      text-decoration: none;
    }
  }
}

#projects {
  background-color: $projects-bg-color;
  height: fit-content;
  height: -moz-fit-content;

  &__description {
    background-color: #fff;
    margin-top: 4vh;
    margin-left: auto;
    margin-right: auto;
    padding: 4rem 6rem;
    box-shadow: 1px 1px 10px 5px rgba(0, 0, 0, 0.3);

    @include belowTablet {
      margin-bottom: 4vh;
    }

    @include mobileL-Tablet {
      padding: 3.4rem 5rem;
    }

    @include belowMobileL {
      padding: 2.8rem 4.2rem;
    }

    @include belowMobileM {
      padding: 2.2rem 3.3rem;
    }

    h3 {
      font: 700 2rem "Sahitya", sans-serif;
    }

    &.container {
      width: 50%;

      @include belowLaptop {
        width: 60%;
      }

      @include belowTablet {
        width: 70%;
      }

      @include mobileL-Tablet {
        width: 85%;
      }

      @include belowMobileL {
        width: 95%;
      }
    }
  }

  &__leftArrow, &__rightArrow {
    position: absolute;
    cursor: pointer;
    display: flex;
    align-items: center;
    //top: 50%;
    width: 40px;
    height: 60%;

    &:hover {
      background: rgba(0, 0, 0, 0.4);
    }
  }

  &__leftArrow {
    left: 0;
    //margin-left: 1rem;
    justify-content: flex-end;
  }

  &__rightArrow {
    right: 0;
    //margin-right: 1rem;
  }

  &__closeBtn {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 1.5rem;
    margin-right: 2rem;

    > button {
      cursor: pointer;
    }

    button > span {
      font-size: 3.2rem;
    }
  }
}

.carousel-control {
  &-prev-icon, &-next-icon {
    color: #202020;
  }
}

// skills sections
#skills {
  background-color: $skills-bg-color;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.skills {
  &__heading {
    font: 3rem "Sahitya", serif;
    margin-top: 0;
    margin-bottom: 3rem;
    padding: 1.5rem 14rem;
    color: #fff;
    background-color: $red-circle;
    flex: 1 100%;

    @include belowLaptop {
      padding: 1.5rem 8rem;
    }

    @include belowTablet {
      padding: 1.5rem 5rem;
    }

    @include mobileL-Tablet {
      padding: 1.5rem 4rem;
    }

    @include mobileS {
      padding: 1.5rem 3rem;
    }
  }

  &__ul {
    padding: 1rem;
    order: 1;
    text-align: center;

    > li {
      display: inline-block;
      list-style: none;
      text-align: center;
      margin-bottom: 3rem;

      &:not(:last-child) {
        margin-right: 10rem;

        @include belowTablet {
          margin-right: 5rem;
        }

        @include mobileL-Tablet {
          margin-right: 3rem;
        }
      }

      &:last-child {
        width: inherit;
        height: inherit;
      }

      > img {
        width: 100px;
      }

      &:nth-last-child(1) > object {
        width: 210.5px;
        height: auto;

        @include belowTablet {
          width: 187px;
        }

        @include belowMobileM {
          width: 176px;
        }
      }

      &:nth-last-child(1) > img {
        width: 210.5px;
        height: auto;

        @include belowTablet {
          width: 187px;
        }

        @include belowMobileM {
          width: 176px;
        }
      }
    }
  }
}

// about section
.about {
  &__img {
    border-radius: 10px;
  }

  &__bio {
    display: inline-block;
    font: 1.8rem "Monteserrat", "Arial", "Helvetica Neue", "Helvetica", sans-serif;
    margin-right: 1rem;

    @include belowLaptop {
      font-size: 1.7rem;
    }

    @include belowTablet {
      font-size: 1.6rem;
    }
  }
}

.footer {
  &__hr {
    order: 3;
    width: 90%;
  }

  &__flex {
    order: 4;
    display: flex;
  }

  &__license {
    order: 2;
    font-size: 1.6rem;
    margin-bottom: 0;
    text-align: center;
    width: -webkit-fill-available;
    width: -moz-available;

    @include belowTablet {
      font-size: 1.5rem;
    }

    @include belowMobileL {
      padding: 0 1.6rem;
    }
  }
}

.social-media__ul {
  padding-left: 0;
  margin-bottom: 5px;

  > li {
    display: inline-block;
    list-style: none;
    width: 34px;
    height: 34px;

    &:not(:last-child) {
      margin-bottom: 2rem;
      margin-right: 6rem;

      @include belowMobileL {
        margin-bottom: 1rem;
        margin-right: 4rem;
      }

      @include belowMobileM {
        margin-right: 2.8rem;
      }
    }

    > a {
      //display: block;

      > svg:hover {
        fill: $yellow-circle; // yellow, brown #795548
        transition: all 0.2s ease-in-out;
        transform: scale(1.2);
        transform-origin: 50% 50%;
      }

      > svg:active {
        fill: black;
      }
    }
  }
}
