@import "./mixin.scss";
@import "./variable.scss";

// projects section
.projects {
  &__heading { // 11rem
    color: #fff;
    font: 3rem 'Sahitya', serif;
    padding: 1.5rem $horizontal-heading;
    margin: 0;
    background-color: $blue-circle;

    @include belowLaptop {
      padding: 1.5rem 8rem;
    }

    @include belowTablet {
      padding: 1.5rem 5rem;
    }

    @include mobileL-Tablet {
      padding: 1.5rem 4rem;
    }

    @include mobileS {
      padding: 1.5rem 3rem;
    }
  }

  &__flexbox {
    //display: flex;
    display: block;
    align-items: center;
    padding-left: 0;
    margin-bottom: 0;
    position: relative;

    @include belowTablet { 
      //cursor: pointer;
    }
  }

  &__img {
    width: 100%;
    height: 100%;
  }

  &__hr {
    margin-bottom: 2rem;
  }

  &__url {
    text-align: center;
  }

  &__links {
    :first-of-type {
      margin-right: 1rem;
    }

    > svg {
      fill: black;
      width: 34px;
      height: 34px;

      &:hover {
        fill: $yellow-circle;
      }
    }

    &:hover {
      text-decoration: none;
    }
  }
}

#projects {
  background-color: $skills-bg-color;
  height: fit-content;
  height: -moz-fit-content;

  &__description {
    background-color: #fff;
    margin: 4vh auto;
    padding: 4rem 6rem; 
    box-shadow: 0px 15px 35px 0px rgba(0, 0, 0, 0.4);

    @include belowTablet {
      margin-bottom: 4vh;
    }

    @include mobileL-Tablet {
      padding: 3.4rem 5rem;
    }

    @include belowMobileL {
      padding: 2.8rem 4.2rem;
    }

    @include belowMobileM {
      padding: 2.2rem 3.3rem;
    }

    h3 {
      font: 700 2rem "Sahitya", sans-serif;
    }

    &.container {
      width: 50%;

      @include belowLaptop {
        width: 60%;
      }

      @include belowTablet {
        width: 70%;
      }

      @include mobileL-Tablet {
        width: 85%;
      }

      @include belowMobileL {
        width: 90%;
      }
    }
  }
}

// skills sections
#skills {
  background-color: $skills-bg-color;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.skills {
  &__heading {
    font: 3rem "Sahitya", serif;
    margin-top: 0;
    margin-bottom: 3rem;
    padding: 1.5rem $horizontal-heading;
    color: #fff;
    background-color: $red-circle;
    flex: 1 100%;

    @include belowLaptop {
      padding: 1.5rem 8rem;
    }

    @include belowTablet {
      padding: 1.5rem 5rem;
    }

    @include mobileL-Tablet {
      padding: 1.5rem 4rem;
    }

    @include mobileS {
      padding: 1.5rem 3rem;
    }
  }

  &__ul {
    padding: 1rem;
    order: 1;
    text-align: center;

    > li {
      display: inline-block;
      list-style: none;
      text-align: center;
      margin-bottom: 3rem;

      &:not(:last-child) {
        margin-right: 10rem;

        @include belowTablet {
          margin-right: 5rem;
        }

        @include mobileL-Tablet {
          margin-right: 3rem;
        }
      }

      &:last-child {
        width: inherit;
        height: inherit;
      }

      > img {
        width: 100px;
      }

      &:nth-last-child(1) > object {
        width: 210.5px;
        height: auto;

        @include belowTablet {
          width: 187px;
        }

        @include belowMobileM {
          width: 176px;
        }
      }

      &:nth-last-child(1) > img {
        width: 210.5px;
        height: auto;

        @include belowTablet {
          width: 187px;
        }

        @include belowMobileM {
          width: 176px;
        }
      }
    }
  }
}

// about section
.about {
  &__img {
    border-radius: 10px;
  }

  &__bio {
    display: inline-block;
    font: 1.8rem "Monteserrat", "Arial", "Helvetica Neue", "Helvetica", sans-serif;
    margin-right: 1rem;

    @include belowLaptop {
      font-size: 1.7rem;
    }

    @include belowTablet {
      font-size: 1.6rem;
    }
  }
}

.footer {
  &__hr {
    order: 3;
    width: 90%;
  }

  &__flex {
    order: 4;
    display: flex;
  }

  &__license {
    order: 2;
    font-size: 1.6rem;
    margin-bottom: 0;
    text-align: center;
    width: -webkit-fill-available;
    width: -moz-available;

    @include belowTablet {
      font-size: 1.5rem;
    }

    @include belowMobileL {
      padding: 0 1.6rem;
    }
  }
}

.social-media__ul {
  padding-left: 0;
  margin-bottom: 5px;

  > li {
    display: inline-block;
    list-style: none;
    width: 34px;
    height: 34px;

    &:not(:last-child) {
      margin-bottom: 2rem;
      margin-right: 6rem;

      @include belowMobileL {
        margin-bottom: 1rem;
        margin-right: 4rem;
      }

      @include belowMobileM {
        margin-right: 2.8rem;
      }
    }

    > a {
      //display: block;

      > svg:hover {
        fill: $yellow-circle; // yellow, brown #795548
        transition: all 0.2s ease-in-out;
        transform: scale(1.2);
        transform-origin: 50% 50%;
      }

      > svg:active {
        fill: black;
      }
    }
  }
}

.carousel .carousel-inner .item,.carousel .carousel-inner .active {
  height: 100%;
  position: relative;
}

.active {
  display: inline-block !important;
}

.carousel-control {
  &-prev-icon, &-next-icon {
    color: #202020;
  }
}

.carousel-inner {
  > .carousel-item {
   opacity: 0;
   top: 0;
   left: 0;
   width: 100%;
   display: block;
   position: absolute;
   z-index:0;
   transition: none;
   transform: translate3d(0,0,0) !important;
  }

  > .active {
    opacity: 1;
    z-index:3;
  }
}

.carousel-control-prev, .carousel-control-next {
  z-index: 4;
}

.carousel-control-next:after, .carousel-control-prev:after {
  position: absolute;
  content:"";
  top:0;
  left:0;
  width:100%;
  height:100%;
  opacity:0;
  background-color: black;
}

.carouselCenter {
  box-shadow: 0px 1px 10px 3px rgba(0, 0, 0, 0.3);
}

.container {
  padding: 0;
}
