// body
$body-color: #151515; // #151515, rgb(21, 21, 21) black
// hero section
// $hero-bg-color: ;
$hero-color: #fff; // white
// projects section
$flex-grow-no: 35;
$projects-heading-bg: #008073;
$projects-bg-color: #d4d4d4;
// skills section
$skills-bg-color: #eaeaea; // #eaeaea, rgb(234, 234, 234) white

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
  font-size: 1.6rem;
  color: $body-color;
}

// header with navbar
.header {
  position: absolute;
  display: flex;
  padding: 4rem;
  width: 100%;
  justify-content: space-between;
  z-index: 2;

  &__logo {
    width: 40px;
    height: 40px;
  }

  &__links {
    position: relative;

    ul > li {
      font-size: 2rem;
      display: inline-block;
      list-style: none;

      a:hover {
        text-decoration: none;
      }

      a {
        color: $hero-color;
      }
    }

    ul > li:not(:last-child) {
      margin-right: 5rem;
    }
  }
}

// hero section
#hero {
  height: 100vh;
  //background-color: $hero-bg-color;
  background-image: url("./assets/triple-Os.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero {
  &__container {
    padding-top: 40vh;
    margin: 0 7vw;
  }

  &__introduction {

  }

  &__overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    //height: 100vh;
    background-color: rgba(0,0,0,.15);
    z-index: 1;
  }
}

.typewriter {
  p {
    border-right: .15em solid orange;
    font-family: "Courier";
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
  }

  p:nth-child(1) {
    //width: 7.3em;
    -webkit-animation: type 2s steps(40, end);
    animation: type 2s steps(40, end);
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }

  p:nth-child(2) {
    //width: 11.5em;
    opacity: 0;
    -webkit-animation: type2 2s steps(40, end);
    animation: type2 2s steps(40, end);
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }

  p:nth-child(3) {
    //width: 7.3em;
    opacity: 0;
    -webkit-animation: type3 5s steps(20, end), blink .5s step-end infinite alternate;
    animation: type3 5s steps(20, end), blink .5s step-end infinite alternate;
    -webkit-animation-delay: 4s;
    animation-delay: 4s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }
}

@keyframes type {
  0% {
    width: 0;
  }
  99% {
    border-right: .15em solid orange;
  }
  100% {
    border: none;
  }
}

@-webkit-keyframes type {
  0% {
    width: 0;
  }
  99% {
    border-right: .15em solid orange;
  }
  100% {
    border: none;
  }
}

@keyframes type2 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  99% {
    border-right: .15em solid orange;
  }
  100% {
    opacity: 1;
    border: none;
  }
}

@-webkit-keyframes type2 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  99% {
    border-right: .15em solid orange;
  }
  100% {
    opacity: 1;
    border: none;
  }
}

@keyframes type3 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes type3 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}
@-webkit-keyframes blink {
  50% {
    border-color: tranparent;
  }
}

// projects section
#projects-img {
  &0 {
    background-image: url(./assets/flashcard-app.png);
  }

  &1 {
    background-image: url(./assets/tribute-page.png);
  }

  &2 {
    background-image: url(./assets/twitch-tv.png);
  }

  &3 {
    background-image: url(./assets/react-wikipedia.png);
  }

  &4 {
    background-image: url(./assets/react-quote-machine.png);
  }
}

.projects {
  &__heading {
    color: #fff;
    font-size: 3rem;
    padding: 1.5rem 4rem;
    margin: 0;
    background-color: $projects-heading-bg;
  }

  &__flexbox {
    display: flex;
    padding-left: 0;
    margin-bottom: 0;
    position: relative;
  }

  &__li {
    position: relative;
    display: inline-block;
    list-style: none;
    height: 70vh; //33vh when width < 720/768px??
    transition: all .5s ease-in-out .25s;
    cursor: pointer;

    &0 {
      flex: 11;
    }

    &1 {
      flex: 8;
    }

    &2 {
      flex: 6;
    }

    &3 {
      flex: 4;
    }

    &4 {
      flex: 2;
    }
  }

  &__flex {
    filter: grayscale(100%);

    &:hover {
      flex: $flex-grow-no;
      filter: grayscale(0%);
    }

    &:not(last-of-type) {
      border-right: $projects-bg-color solid 4px;
    }
  }

  &__img {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
  }

  &__hr {
    margin-bottom: 2rem;
  }

  &__link {

    &s {
      text-align: center;
    }

    :first-of-type {
      margin-right: 1rem;
    }

    > i {
      font-size: 2.3rem;
    }

    :hover {
      text-decoration: none;
    }
  }
}

#projects {
  background-color: $projects-bg-color;
  height: fit-content;

  &__description {
    background-color: #fff;
    margin-top: 4vh;
    margin-bottom: 4vh;
    padding: 4rem 6rem;
    box-shadow: 1px 1px 10px 5px rgba(0, 0, 0, 0.3);

    h3 {
      font-weight: 700;
    }

    &.container {
      width: 50%;
    }
  }

  &__leftArrow, &__rightArrow {
    position: absolute;
    //border: solid grey;
    //border-width: 0 8px 8px 0;
    //border-radius: 4px;
    //display: inline-block;
    //padding: 8px;
    cursor: pointer;
    top: 50%;
    width: 40px;
  }

  &__leftArrow {
    left: 0;
    margin-left: 1rem;
    text-align: right;
  }

  &__rightArrow {
    right: 0;
    margin-right: 1rem;
  }

  &__closeBtn {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 1.5rem;
    margin-right: 2rem;

    button > span {
      font-size: 3.2rem;
      cursor: pointer;
    }
  }
}

.carousel-control {
  &-prev-icon, &-next-icon {
    color: #202020;
  }
}

// skills sections
#skills {
  background-color: $skills-bg-color;
}

.skills {
  &__heading {
    font-size: 3rem;
    margin-top: 0;
    margin-bottom: 3rem;
    padding: 1.5rem 4rem;
    color: #fff;
    background-color: $projects-heading-bg;
  }

  &__ul {
    //padding-left: 0;

    > li {
      display: inline-block;
      list-style: none;
      text-align: center;
      margin-bottom: 3rem;

      &:last-child > img {
        width: 100px;
      }

      &:not(:last-child) {
        margin-right: 3rem;
      }

      &:not(:last-child) > img {
        width: 100px;
        height: 100px;
      }
    }
  }
}

// about section
#about {
  //background-color:;
  color: $body-color;
  padding: 12rem;
}

.about {
  &__img {
    //max-width: 100%;
    //width: 250px;
    //width 300px height 252.6px
    //max-height: auto;
    height: 210.5px;
    border-radius: 10px;
  }
}

.footer {
  &__hr {
    width: 90%;
    order: 1;
  }

  &__flex {
    display: flex;
    justify-content: center;
    width: 100%;
    order: 2;
  }
}

.social-media__ul {
  text-align: center;
  padding-left: 0;

  > li {
    display: inline-block;
    list-style: none;
    width: 38px;
    height: 38px;

    &:not(:last-child) {
      margin-right: 5rem;
    }
  }
}
