/* first-paint.scss */
// first page
$header-links-color: #656565; //rgba(#000000, 0.4)

// hamburger menu properties
$menu-line-height: 4.5px;
$menu-line-width: 40px;
$menu-line-space: 5px;
$menu-line-offsetY: $menu-line-height + $menu-line-space;
$menu-height: (3 * $menu-line-height) + (2 * $menu-line-space);
$menu-width: fit-content;

$cubic-bezier-in: cubic-bezier(0.30,1,0.70,1);
$cubic-bezier-out: cubic-bezier(1,0.70,1,0.30);

/* style.scss */
// first page
$blue-circle: #4FBCE8;
$red-circle: #E6807B;
$yellow-circle: #F0BB6C;

// first and last page
$hero-h1: #4c4c4c;
$bottom-text: #afafaf;

// projects section
$flex-grow-no: 50;
$projects-bg-color: #ffffff; // grey outline #d4d4d4

// skills section
$skills-bg-color: #ffffff; // #eaeaea, rgb(234, 234, 234) white


// projects n skills heading
$horizontal-heading: 0;