/* first-paint.scss */
// first page
$header-links-color: rgba(#000000, 0.4);

// hamburger menu properties
$menu-line-height: 4.5px;
$menu-line-width: 40px;
$menu-line-space: 5px;
$menu-line-offsetY: $menu-line-height + $menu-line-space;
$menu-height: (3 * $menu-line-height) + (2 * $menu-line-space);
$menu-width: fit-content;

$cubic-bezier-in: cubic-bezier(0.30,1,0.70,1);
$cubic-bezier-out: cubic-bezier(1,0.70,1,0.30);

/* style.scss */
// first page
$blue-circle: #4FBCE8;
$red-circle: #E6807B;
$yellow-circle: #F0BB6C;

// projects section
$flex-grow-no: 35;
$projects-heading-bg: #008073; // dark green
$projects-bg-color: #d4d4d4; // grey outline

// skills section
$skills-bg-color: #eaeaea; // #eaeaea, rgb(234, 234, 234) white
