# See https://help.github.com/ignore-files/ for more about ignoring files.

# hashtag to comment

# don't need ./ to indicate current directory

/.sass-cache
style.css.map
CNAME
/assets/readme.txt
first-paint.css.map
mixin.css
mixin.css.map
