* {
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  overflow: auto; }
  html.active {
    overflow: hidden; }

body {
  position: relative;
  font-family: "Roboto", "Tahoma", "Verdana", "Segoe", sans-serif;
  line-height: 1.5;
  font-size: 1.6rem; }

/* z-index: 10 -> menu overlay (black)
   z-index: 11 -> .header__menu (white), .header__nav
   z-index: 12 -> #header__icon
*/
.header {
  position: absolute;
  display: flex;
  padding: 4rem 7rem;
  width: 100%;
  justify-content: space-between;
  align-items: center; }
  @media screen and (max-width: 769px) {
    .header {
      padding: 2.6rem 4rem; } }
  @media screen and (max-width: 460px) {
    .header {
      padding: 2rem 3rem; } }
  .header__logo {
    width: 60px;
    height: 60px; }
    @media screen and (max-width: 460px) {
      .header__logo {
        width: 50px;
        height: 50px; } }
  .header__nav {
    z-index: 11; }
  .header__overlay {
    z-index: -10;
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0; }
    .header__overlay.active {
      opacity: 0.8;
      z-index: 10; }
      @media screen and (min-width: 769px) {
        .header__overlay.active {
          display: none; } }
  .header__links > a {
    font: 2.4rem "Sahitya", "Palatino", "Palatino Linotype", "Palatino LT STD", "Book Antiqua", "Georgia", serif;
    display: inline-block;
    list-style: none;
    color: rgba(0, 0, 0, 0.4); }
    .header__links > a:hover {
      text-decoration: none;
      color: black; }
      .header__links > a:hover::after {
        width: 100%; }
    .header__links > a::after {
      content: '';
      display: block;
      width: 0;
      height: 2px;
      background: #000;
      transition: width .3s; }
    .header__links > a:not(:last-child) {
      margin-right: 5rem; }
  @media screen and (max-width: 769px) {
    .header__links {
      display: none; } }
  .header__menu {
    background: #b6b6b6;
    position: fixed;
    height: 100%;
    width: 65%;
    z-index: 11;
    right: -100%;
    top: 0; }
    .header__menu.active {
      right: 0;
      padding-top: 10rem;
      transition: block, right .5s ease; }
      @media screen and (min-width: 769px) {
        .header__menu.active {
          display: none; } }
      .header__menu.active > a {
        display: block;
        text-decoration: none;
        text-align: center;
        color: #fff;
        font-size: 2.4rem;
        padding: 1.1rem 0;
        border-bottom: 1px solid #fff; }
        .header__menu.active > a:hover {
          background-color: rgba(0, 0, 0, 0.3); }

#header__icon {
  position: relative;
  height: 22px;
  width: fit-content;
  cursor: pointer;
  display: none;
  z-index: 12; }
  #header__icon .line-one, #header__icon .line-two, #header__icon .line-three {
    height: 4px;
    width: 35px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 1px 2px 8px 0px rgba(0, 0, 0, 0.4); }
  #header__icon .line-one {
    animation: animate-line-1-rev .7s forwards; }
  #header__icon .line-two {
    margin: 5px 0;
    animation: animate-line-2-rev .7s forwards; }
  #header__icon .line-three {
    animation: animate-line-3-rev .7s forwards; }
  #header__icon .no-animation {
    animation: none !important; }
  #header__icon.active .line-one {
    animation: animate-line-1 0.7s cubic-bezier(0.3, 1, 0.7, 1) forwards; }
  #header__icon.active .line-two {
    animation: animate-line-2 0.7s cubic-bezier(0.3, 1, 0.7, 1) forwards; }
  #header__icon.active .line-three {
    animation: animate-line-3 0.7s cubic-bezier(0.3, 1, 0.7, 1) forwards; }
@keyframes animate-line-1 {
  0% {
    transform: translate3d(0, 0, 0) rotate(0); }
  50% {
    transform: translate3d(0, 9px, 0) rotate(0); }
  100% {
    transform: translate3d(0, 9px, 0) rotate(45deg); } }
@keyframes animate-line-2 {
  0% {
    transform: scale(1);
    opacity: 1; }
  100% {
    transform: scale(0);
    opacity: 0; } }
@keyframes animate-line-3 {
  0% {
    transform: translate3d(0, 0, 0) rotate(0deg); }
  50% {
    transform: translate3d(0, -9px, 0) rotate(0); }
  100% {
    transform: translate3d(0, -9px, 0) rotate(135deg); } }
@keyframes animate-line-1-rev {
  0% {
    transform: translate3d(0, 9px, 0) rotate(45deg); }
  50% {
    transform: translate3d(0, 9px, 0) rotate(0); }
  100% {
    transform: translate3d(0, 0, 0) rotate(0); } }
@keyframes animate-line-2-rev {
  0% {
    transform: scale(0);
    opacity: 0; }
  100% {
    transform: scale(1);
    opacity: 1; } }
@keyframes animate-line-3-rev {
  0% {
    transform: translate3d(0, -9px, 0) rotate(135deg); }
  50% {
    transform: translate3d(0, -9px, 0) rotate(0); }
  100% {
    transform: translate3d(0, 0, 0) rotate(0deg); } }
  @media screen and (max-width: 769px) {
    #header__icon {
      display: block; } }

#hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("./assets/triple-Os.png");
  background-origin: border-box;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }
  #hero__typewriter {
    padding-left: 2rem;
    padding-right: 1.5rem; }

.hero__overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.15);
  z-index: 1; }

/*# sourceMappingURL=first-paint.css.map */
