html {
  font-size: 62.5%; }

body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
  font-size: 1.6rem;
  color: #151515; }

.header {
  position: absolute;
  display: flex;
  padding: 4rem;
  width: 100%;
  justify-content: space-between;
  z-index: 2; }
  .header__logo {
    width: 40px;
    height: 40px; }
  .header__links {
    position: relative; }
    .header__links ul > li {
      font-size: 2rem; }
      .header__links ul > li a {
        color: #fff; }
    .header__links ul > li:not(:last-child) {
      margin-right: 5rem; }

#hero {
  height: 100vh;
  background-image: url("./assets/triple-Os.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.hero__container {
  padding-top: 12rem; }
.hero__overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.15);
  z-index: 1; }

.typewriter > p {
  overflow: hidden;
  /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange;
  /* The typwriter cursor */
  white-space: nowrap;
  /* Keeps the content on a single line */
  margin: 0 auto;
  /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em;
  /* Adjust as needed */
  animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite; }

/* The typing effect */
@keyframes typing {
  from {
    width: 0; }
  to {
    width: 100%; } }
/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to {
    border-color: transparent; }
  50% {
    border-color: orange; } }
li {
  display: inline-block;
  list-style: none; }

#projects {
  background-color: #d4d4d4;
  color: #fff;
  height: 100%;
  padding-bottom: 9rem; }
  #projects-li0 {
    flex: 11; }
    #projects-li0:hover {
      flex: 35; }
  #projects-li1 {
    flex: 8; }
    #projects-li1:hover {
      flex: 35; }
  #projects-li2 {
    flex: 6; }
    #projects-li2:hover {
      flex: 35; }
  #projects-li3 {
    flex: 4; }
    #projects-li3:hover {
      flex: 35; }
  #projects-li4 {
    flex: 2; }
    #projects-li4:hover {
      flex: 35; }
  #projects-img0 {
    background-image: url(./assets/flashcard-app.png); }
  #projects-img1 {
    background-image: url(./assets/tribute-page.png); }
  #projects-img2 {
    background-image: url(./assets/twitch-tv.png); }
  #projects-img3 {
    background-image: url(./assets/react-wikipedia.png); }
  #projects-img4 {
    background-image: url(./assets/react-quote-machine.png); }

.projects__heading {
  font-size: 3rem;
  padding: 1.5rem 4rem;
  margin-bottom: 0;
  background-color: #008073; }
.projects__flex {
  display: flex;
  padding-left: 0; }
.projects__li {
  height: 78vh;
  filter: grayscale(100%);
  transition: all .5s ease-in-out .25s; }
  .projects__li:hover {
    filter: grayscale(0%); }
.projects__img {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  outline: #d4d4d4 solid 4px; }

#skills {
  background-color: #eaeaea;
  color: #151515;
  padding: 5rem; }

.skills__heading {
  font-size: 3rem;
  margin-bottom: 3rem; }
.skills__ul > li {
  text-align: center;
  margin-bottom: 3rem; }
  .skills__ul > li:last-child > img {
    width: 100px; }
  .skills__ul > li:not(:last-child) {
    margin-right: 3rem; }
  .skills__ul > li:not(:last-child) > img {
    width: 100px;
    height: 100px; }

#about {
  color: #151515;
  padding: 12rem; }

.about__img {
  height: 210.5px;
  border-radius: 10px; }

.footer__hr {
  width: 90%;
  order: 1; }
.footer__flex {
  display: flex;
  justify-content: center;
  width: 100%;
  order: 2; }

.social-media__ul {
  text-align: center;
  padding-left: 0; }
  .social-media__ul > li {
    width: 38px;
    height: 38px; }
    .social-media__ul > li:not(:last-child) {
      margin-right: 5rem; }

/*# sourceMappingURL=style.css.map */
