html {
  font-size: 62.5%;
  scroll-behavior: smooth; }

body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
  font-size: 1.6rem;
  color: #151515; }

.header {
  position: absolute;
  display: flex;
  padding: 4rem;
  width: 100%;
  justify-content: space-between;
  z-index: 2; }
  .header__logo {
    width: 40px;
    height: 40px; }
  .header__links {
    position: relative; }
    .header__links ul > li {
      font-size: 2rem;
      display: inline-block;
      list-style: none; }
      .header__links ul > li a:hover {
        text-decoration: none; }
      .header__links ul > li a {
        color: #fff; }
    .header__links ul > li:not(:last-child) {
      margin-right: 5rem; }

#hero {
  height: 100vh;
  background-image: url("./assets/triple-Os.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.hero__container {
  padding-top: 40vh;
  margin: 0 7vw; }
.hero__overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.15);
  z-index: 1; }

.typewriter p {
  border-right: .15em solid orange;
  font-family: "Courier";
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden; }
.typewriter p:nth-child(1) {
  -webkit-animation: type 2s steps(40, end);
  animation: type 2s steps(40, end);
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards; }
.typewriter p:nth-child(2) {
  opacity: 0;
  -webkit-animation: type2 2s steps(40, end);
  animation: type2 2s steps(40, end);
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards; }
.typewriter p:nth-child(3) {
  opacity: 0;
  -webkit-animation: type3 5s steps(20, end), blink 0.5s step-end infinite alternate;
  animation: type3 5s steps(20, end), blink 0.5s step-end infinite alternate;
  -webkit-animation-delay: 4s;
  animation-delay: 4s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards; }

@keyframes type {
  0% {
    width: 0; }
  99% {
    border-right: .15em solid orange; }
  100% {
    border: none; } }
@-webkit-keyframes type {
  0% {
    width: 0; }
  99% {
    border-right: .15em solid orange; }
  100% {
    border: none; } }
@keyframes type2 {
  0% {
    width: 0; }
  1% {
    opacity: 1; }
  99% {
    border-right: .15em solid orange; }
  100% {
    opacity: 1;
    border: none; } }
@-webkit-keyframes type2 {
  0% {
    width: 0; }
  1% {
    opacity: 1; }
  99% {
    border-right: .15em solid orange; }
  100% {
    opacity: 1;
    border: none; } }
@keyframes type3 {
  0% {
    width: 0; }
  1% {
    opacity: 1; }
  100% {
    opacity: 1; } }
@-webkit-keyframes type3 {
  0% {
    width: 0; }
  1% {
    opacity: 1; }
  100% {
    opacity: 1; } }
@keyframes blink {
  50% {
    border-color: transparent; } }
@-webkit-keyframes blink {
  50% {
    border-color: tranparent; } }
#projects-img0 {
  background-image: url(./assets/flashcard-app.png); }
#projects-img1 {
  background-image: url(./assets/tribute-page.png); }
#projects-img2 {
  background-image: url(./assets/twitch-tv.png); }
#projects-img3 {
  background-image: url(./assets/react-wikipedia.png); }
#projects-img4 {
  background-image: url(./assets/react-quote-machine.png); }

.projects__heading {
  color: #fff;
  font-size: 3rem;
  padding: 1.5rem 4rem;
  margin: 0;
  background-color: #008073; }
.projects__flexbox {
  display: flex;
  padding-left: 0;
  margin-bottom: 0;
  position: relative; }
.projects__li {
  position: relative;
  display: inline-block;
  list-style: none;
  height: 70vh;
  transition: all .5s ease-in-out .25s;
  cursor: pointer; }
  .projects__li0 {
    flex: 11; }
  .projects__li1 {
    flex: 8; }
  .projects__li2 {
    flex: 6; }
  .projects__li3 {
    flex: 4; }
  .projects__li4 {
    flex: 2; }
.projects__flex {
  filter: grayscale(100%); }
  .projects__flex:hover {
    flex: 35;
    filter: grayscale(0%); }
  .projects__flex:not(last-of-type) {
    border-right: #d4d4d4 solid 4px; }
.projects__img {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%; }
.projects__hr {
  margin-bottom: 2rem; }
.projects__links {
  text-align: center; }
.projects__link :first-of-type {
  margin-right: 1rem; }
.projects__link > i {
  font-size: 2.3rem; }
.projects__link :hover {
  text-decoration: none; }

#projects {
  background-color: #d4d4d4;
  height: fit-content; }
  #projects__description {
    background-color: #fff;
    margin-top: 4vh;
    margin-bottom: 4vh;
    padding: 4rem 6rem;
    box-shadow: 1px 1px 10px 5px rgba(0, 0, 0, 0.3); }
    #projects__description h3 {
      font-weight: 700; }
    #projects__description.container {
      width: 50%; }
  #projects__leftArrow, #projects__rightArrow {
    position: absolute;
    cursor: pointer;
    top: 50%;
    width: 40px; }
  #projects__leftArrow {
    left: 0;
    margin-left: 1rem;
    text-align: right; }
  #projects__rightArrow {
    right: 0;
    margin-right: 1rem; }
  #projects__closeBtn {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 1.5rem;
    margin-right: 2rem; }
    #projects__closeBtn button > span {
      font-size: 3.2rem;
      cursor: pointer; }

.carousel-control-prev-icon, .carousel-control-next-icon {
  color: #202020; }

#skills {
  background-color: #eaeaea; }

.skills__heading {
  font-size: 3rem;
  margin-top: 0;
  margin-bottom: 3rem;
  padding: 1.5rem 4rem;
  color: #fff;
  background-color: #008073; }
.skills__ul > li {
  display: inline-block;
  list-style: none;
  text-align: center;
  margin-bottom: 3rem; }
  .skills__ul > li:last-child > img {
    width: 100px; }
  .skills__ul > li:not(:last-child) {
    margin-right: 3rem; }
  .skills__ul > li:not(:last-child) > img {
    width: 100px;
    height: 100px; }

#about {
  color: #151515;
  padding: 12rem; }

.about__img {
  height: 210.5px;
  border-radius: 10px; }

.footer__hr {
  width: 90%;
  order: 1; }
.footer__flex {
  display: flex;
  justify-content: center;
  width: 100%;
  order: 2; }

.social-media__ul {
  text-align: center;
  padding-left: 0; }
  .social-media__ul > li {
    display: inline-block;
    list-style: none;
    width: 38px;
    height: 38px; }
    .social-media__ul > li:not(:last-child) {
      margin-right: 5rem; }

/*# sourceMappingURL=style.css.map */
