html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  overflow: auto; }
  html.active {
    overflow: hidden; }

body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
  font-size: 1.6rem; }

/* z-index: 10 -> menu overlay (black)
   z-index: 11 -> .header__menu (white), .header__nav
   z-index: 12 -> #header__icon

*/
.header {
  position: absolute;
  display: flex;
  padding: 4rem;
  width: 100%;
  justify-content: space-between; }
  .header__logo {
    width: 40px;
    height: 40px; }
  .header__nav {
    z-index: 11; }
  .header__overlay {
    z-index: -10;
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0; }
    .header__overlay.active {
      opacity: 0.8;
      z-index: 10; }
      @media (min-width: 768px) {
        .header__overlay.active {
          display: none; } }
  .header__links > a {
    font-size: 2.1rem;
    display: inline-block;
    list-style: none;
    color: #595959; }
    .header__links > a:hover {
      text-decoration: none;
      color: black; }
      .header__links > a:hover::after {
        width: 100%; }
    .header__links > a::after {
      content: '';
      display: block;
      width: 0;
      height: 2px;
      background: #000;
      transition: width .3s; }
    .header__links > a:not(:last-child) {
      margin-right: 5rem; }
  @media (max-width: 768px) {
    .header__links {
      display: none; } }
  .header__menu {
    display: none;
    z-index: 11; }
    .header__menu.active {
      background: #b6b6b6;
      position: fixed;
      height: 100%;
      width: 55%;
      top: 0;
      right: 0;
      overflow-x: hidden;
      padding-top: 8rem;
      display: block; }
      @media (min-width: 768px) {
        .header__menu.active {
          display: none; } }
      .header__menu.active > a {
        display: block;
        text-decoration: none;
        text-align: center;
        color: #fff;
        font-size: 2.4rem;
        padding: 1.1rem 0;
        border-bottom: 1px solid #fff; }
      .header__menu.active:before, .header__menu.active:after {
        content: " "; }

#header__icon {
  position: relative;
  height: 22px;
  width: fit-content;
  cursor: pointer;
  display: none;
  z-index: 12; }
  #header__icon .line-one, #header__icon .line-two, #header__icon .line-three {
    height: 4px;
    width: 35px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 1px 2px 8px 0px rgba(0, 0, 0, 0.4); }
  #header__icon .line-one {
    animation: animate-line-1-rev .7s forwards; }
  #header__icon .line-two {
    margin: 5px 0;
    animation: animate-line-2-rev .7s forwards; }
  #header__icon .line-three {
    animation: animate-line-3-rev .7s forwards; }
  #header__icon .no-animation {
    animation: none !important; }
  #header__icon.active .line-one {
    animation: animate-line-1 0.7s cubic-bezier(0.3, 1, 0.7, 1) forwards; }
  #header__icon.active .line-two {
    animation: animate-line-2 0.7s cubic-bezier(0.3, 1, 0.7, 1) forwards; }
  #header__icon.active .line-three {
    animation: animate-line-3 0.7s cubic-bezier(0.3, 1, 0.7, 1) forwards; }
@keyframes animate-line-1 {
  0% {
    transform: translate3d(0, 0, 0) rotate(0); }
  50% {
    transform: translate3d(0, 9px, 0) rotate(0); }
  100% {
    transform: translate3d(0, 9px, 0) rotate(45deg); } }
@keyframes animate-line-2 {
  0% {
    transform: scale(1);
    opacity: 1; }
  100% {
    transform: scale(0);
    opacity: 0; } }
@keyframes animate-line-3 {
  0% {
    transform: translate3d(0, 0, 0) rotate(0deg); }
  50% {
    transform: translate3d(0, -9px, 0) rotate(0); }
  100% {
    transform: translate3d(0, -9px, 0) rotate(135deg); } }
@keyframes animate-line-1-rev {
  0% {
    transform: translate3d(0, 9px, 0) rotate(45deg); }
  50% {
    transform: translate3d(0, 9px, 0) rotate(0); }
  100% {
    transform: translate3d(0, 0, 0) rotate(0); } }
@keyframes animate-line-2-rev {
  0% {
    transform: scale(0);
    opacity: 0; }
  100% {
    transform: scale(1);
    opacity: 1; } }
@keyframes animate-line-3-rev {
  0% {
    transform: translate3d(0, -9px, 0) rotate(135deg); }
  50% {
    transform: translate3d(0, -9px, 0) rotate(0); }
  100% {
    transform: translate3d(0, 0, 0) rotate(0deg); } }
  @media (max-width: 768px) {
    #header__icon {
      display: block; } }

#hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("./assets/triple-Os.png");
  background-origin: border-box;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.hero__typewriter p {
  border-right: .15em solid orange;
  white-space: nowrap;
  overflow: hidden; }
.hero__typewriter p:nth-child(1) {
  width: 780px;
  /* manually set width */
  -webkit-animation: type 2s steps(40, end);
  animation: type 2s steps(40, end);
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards; }
.hero__typewriter p:nth-child(2) {
  width: 780px;
  /* manually set width */
  opacity: 0;
  -webkit-animation: type2 2s steps(40, end);
  animation: type2 2s steps(40, end);
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards; }
.hero__typewriter p:nth-child(3) {
  width: 520px;
  /* manually set width */
  opacity: 0;
  -webkit-animation: type3 5s steps(20, end), blink 0.5s step-end infinite alternate;
  animation: type3 2s steps(20, end), blink 0.5s step-end infinite alternate;
  -webkit-animation-delay: 4s;
  animation-delay: 4s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards; }
@keyframes type {
  0% {
    width: 0; }
  99.9% {
    border-right: .15em solid orange; }
  100% {
    border: none; } }
@-webkit-keyframes type {
  0% {
    width: 0; }
  99.9% {
    border-right: .15em solid orange; }
  100% {
    border: none; } }
@keyframes type2 {
  0% {
    width: 0; }
  1% {
    opacity: 1; }
  99.9% {
    border-right: .15em solid orange; }
  100% {
    opacity: 1;
    border: none; } }
@-webkit-keyframes type2 {
  0% {
    width: 0; }
  1% {
    opacity: 1; }
  99.9% {
    border-right: .15em solid orange; }
  100% {
    opacity: 1;
    border: none; } }
@keyframes type3 {
  0% {
    width: 0; }
  1% {
    opacity: 1; }
  100% {
    opacity: 1; } }
@-webkit-keyframes type3 {
  0% {
    width: 0; }
  1% {
    opacity: 1; }
  100% {
    opacity: 1; } }
@keyframes blink {
  50% {
    border-color: transparent; } }
@-webkit-keyframes blink {
  50% {
    border-color: tranparent; } }
.hero__overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.15);
  z-index: 1; }

#projects-img0 {
  background-image: url(./assets/flashcard-app.png); }
#projects-img1 {
  background-image: url(./assets/tribute-page.png); }
#projects-img2 {
  background-image: url(./assets/twitch-tv.png); }
#projects-img3 {
  background-image: url(./assets/react-wikipedia.png); }
#projects-img4 {
  background-image: url(./assets/react-quote-machine.png); }

.projects__heading {
  color: #fff;
  font-size: 3rem;
  padding: 1.5rem 6rem;
  margin: 0;
  background-color: #4FBCE8; }
.projects__flexbox {
  display: flex;
  align-items: center;
  padding-left: 0;
  margin-bottom: 0;
  position: relative; }
.projects__li {
  position: relative;
  display: inline-block;
  list-style: none;
  height: 70vh;
  transition: all .5s ease-in-out .25s;
  cursor: pointer; }
  .projects__li0 {
    flex: 11; }
  .projects__li1 {
    flex: 8; }
  .projects__li2 {
    flex: 6; }
  .projects__li3 {
    flex: 4; }
  .projects__li4 {
    flex: 2; }
.projects__flex {
  filter: grayscale(100%); }
  .projects__flex:hover {
    flex: 35;
    filter: grayscale(0%); }
  .projects__flex:not(last-of-type) {
    border-right: #d4d4d4 solid 4px; }
.projects__img {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%; }
.projects__hr {
  margin-bottom: 2rem; }
.projects__links {
  text-align: center; }
.projects__link :first-of-type {
  margin-right: 1rem; }
.projects__link > i {
  font-size: 2.3rem; }
.projects__link :hover {
  text-decoration: none; }

#projects {
  background-color: #d4d4d4;
  height: fit-content; }
  #projects__description {
    background-color: #fff;
    margin-top: 4vh;
    margin-bottom: 4vh;
    padding: 4rem 6rem;
    box-shadow: 1px 1px 10px 5px rgba(0, 0, 0, 0.3); }
    #projects__description h3 {
      font-weight: 700; }
    #projects__description.container {
      width: 50%; }
  #projects__leftArrow, #projects__rightArrow {
    position: absolute;
    cursor: pointer;
    display: flex;
    align-items: center;
    width: 40px;
    height: 60%; }
    #projects__leftArrow:hover, #projects__rightArrow:hover {
      background: rgba(0, 0, 0, 0.4); }
  #projects__leftArrow {
    left: 0;
    justify-content: flex-end; }
  #projects__rightArrow {
    right: 0; }
  #projects__closeBtn {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 1.5rem;
    margin-right: 2rem; }
    #projects__closeBtn button > span {
      font-size: 3.2rem;
      cursor: pointer; }

.carousel-control-prev-icon, .carousel-control-next-icon {
  color: #202020; }

#skills {
  background-color: #eaeaea;
  display: flex;
  flex-flow: row wrap; }
  @media (min-width: 768px) {
    #skills {
      display: block; } }

.skills__heading {
  font-size: 3rem;
  margin-top: 0;
  margin-bottom: 3rem;
  padding: 1.5rem 6rem;
  color: #fff;
  background-color: #E6807B;
  flex: 1 100%; }
.skills__ul {
  padding: 0 4rem;
  flex: 1;
  order: 1;
  /*
  display: flex;
  flex-flow: row wrap;
  //justify-content: space-around;
  align-items: flex-end;
  */ }
  .skills__ul > li {
    display: inline-block;
    list-style: none;
    text-align: center;
    margin-bottom: 3rem; }
    .skills__ul > li:not(:last-child) {
      margin-right: 10rem; }
    .skills__ul > li:last-child {
      width: inherit;
      height: inherit; }
    .skills__ul > li > img {
      width: 100px; }
    .skills__ul > li:nth-last-child(1) > img {
      width: 210.5px;
      height: auto; }

.about__img {
  height: 210.5px;
  border-radius: 10px; }
.about__bio {
  display: inline-block;
  margin-right: 1rem; }

.footer__hr {
  width: 90%; }
  @media (max-width: 768px) {
    .footer__hr {
      display: none; } }
.footer__flex {
  order: 2;
  flex: 0 6%;
  display: flex;
  flex-direction: column;
  border-left: 1px solid black;
  padding: 0 1.5rem;
  margin-bottom: 3rem;
  justify-content: center; }
  @media (min-width: 768px) {
    .footer__flex {
      border: none;
      margin-bottom: 0;
      align-items: center; } }
.footer__license {
  font-size: 1.4rem;
  order: 6;
  margin-bottom: 0;
  text-align: center;
  width: -webkit-fill-available; }
  @media (max-width: 768px) {
    .footer__license {
      font-size: 1.2rem; } }

/* below 768px - change horizontal projects to vertical placement.
*/
.social-media__ul {
  padding-left: 0; }
  .social-media__ul > li {
    display: inline-block;
    list-style: none;
    width: 34px;
    height: 34px; }
    .social-media__ul > li:not(:last-child) {
      margin-bottom: 6rem; }
      @media (min-width: 768px) {
        .social-media__ul > li:not(:last-child) {
          margin-bottom: 2rem;
          margin-right: 6rem; } }
    .social-media__ul > li > a > svg:hover {
      fill: #F0BB6C;
      transition: all 0.2s ease-in-out;
      transform: scale(1.2);
      transform-origin: 50% 50%; }

/*# sourceMappingURL=style.css.map */
